<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
      <li class="breadcrumb-item"><a href="/packs/index">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product Detail</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @pack.product_name %></li>
    </ol>
  </nav>
  <div class="row mt-4">
    <div class="col-6">
      <img src="<%= url_for(@pack.image) %>" class="img-fluid">
    </div>
    <div class="col-6">
      <p>제품명: <%= @pack.product_name %></p>
      <hr>
      <p>제조사명: <%= @pack.company_name %></p>
      <hr>
      <p>제품정보: <%= @pack.desc %></p>
      
    </div>
  </div>
</div>